@model WebBanQuaLuuNiem.Models.NhaCungCap

@{
    ViewBag.Title = "Xóa nhà cung cấp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN NHÀ CUNG CẤP CẦN XÓA</h2>

<h3>Bạn có muốn xóa Nhà cung cấp này không?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNCC)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "NhaCungCap")
        </div>
    }
</div>
